@model Sistema_CFT.Models.Nota

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Calificacion" class="control-label"></label>
                <input asp-for="Calificacion" class="form-control" />
                <span asp-validation-for="Calificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ponderacion" class="control-label"></label>
                <input asp-for="Ponderacion" class="form-control" />
                <span asp-validation-for="Ponderacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstudianteId" class="control-label"></label>
                <input asp-for="EstudianteId" class="form-control" />
                <span asp-validation-for="EstudianteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AsignaturaId" class="control-label"></label>
                <input asp-for="AsignaturaId" class="form-control" />
                <span asp-validation-for="AsignaturaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
